.Menu{
    /* position: fixed!important; */
    width: 100%;
}
.Bgc-row1{
    color: white;
	background-image: url(http://i66.tinypic.com/28am9fs.jpg);
	background-size: cover;
    min-height: 300px;
    text-align: center;
}

@font-face {
	font-family: 'anticon';
	src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot');
	/* IE9*/
	src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont') format('svg');
}
body{
	background-color: #FAFAFA;
}
*{
	padding: 0;
	margin: 0;
}
.icon-sk{
	margin-right: 5px;
	max-height: 100%;
}
.bc-sk{
	color: white;
	background-image: url(http://i66.tinypic.com/28am9fs.jpg);
	background-size: cover;
	min-height: 300px;
}
.activity{
	width: 100%;
}
.boxs:hover{
	box-shadow: 0px 2px 35px 14px #aaa;
}
@media (max-width: 900px) {
	.mondoks{
		width: 100%!important;
		height: auto!important;
		align-items: center!important;
	}
}
.mondok{
	display: flex;
	justify-content: center;
	text-align: center;
	border:1px solid #E7E7E7;
}

.mondoks{
	width: 570px;
	height: auto;
	align-items: center;
}	
.mondok-1{
	background-color: #0BC72A;
	color: white;
}
.mondok-2{
	background-color: white;
}
.right-a{
	margin-left: 7em;
	color: red;
}
.left-a{
	color: #7E79A5;
}
.card-body a{
	text-decoration: none;
}
.img-partner{
	width: 345px;
	height: auto;
}
.img-partner2{
	width: auto;
	height: 100px;
}
.img-partner3{
	width: 190px;
	height: auto;
}
.bgc-partner{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #fff;

}